<div class="row m-3">
    <h3>{{ title }}</h3>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-dark btn-sm" (click)="regresar()" >
                <i class="fas fa-arrow-left"></i>
                Regresar al listado
            </button>
            <form class="my-3 form">
                <div class="row">
                    <div class="form__group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" required class="form__control" placeholder="Ingrese la descripcion">
                    </div>
                </div>
                <div class="form__group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-database"></i>
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


