<aside id="sidebar" class="sidebar active">
    <div class="sidebar__logo">
        <img src="assets/img/logo2.svg" alt="logo">
    </div>
    <hr>
    <h3>Menu</h3>
    <ul class="sidebar__menu">
        <!-- <li class="sidebar__menu-li">
            <a href="#" class="sidebar__menu-a active">Inicio</a>
        </li> -->
        <li class="sidebar__menu-li">
            <a class="sidebar__menu-a" id="drop-menu">
                Siniestros
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="sidebar__submenu" id="drop-menu-content">
                <li class="sidebar__submenu-li">
                    <a routerLink="/siniestros/agregar" class="sidebar__submenu-a">Crear nuevo siniestro</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/siniestros/listado" class="sidebar__submenu-a">Historial de siniestros</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/tipo-siniestros/listado" class="sidebar__submenu-a">Tipos de Siniestro</a>
                </li>
            </ul>
        </li>
        <li class="sidebar__menu-li">
            <a class="sidebar__menu-a" id="drop-menu">
                Solicitantes
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="sidebar__submenu" id="drop-menu-content">
                <li class="sidebar__submenu-li">
                    <a routerLink="/solicitantes/agregar" class="sidebar__submenu-a">
                        Nuevo Solicitante
                    </a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/solicitantes/listado" class="sidebar__submenu-a">Listado de Solicitantes</a>
                </li>
            </ul>
        </li>
        <li class="sidebar__menu-li">
            <a class="sidebar__menu-a" id="drop-menu">
                Vehiculos
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="sidebar__submenu" id="drop-menu-content">

                <li class="sidebar__submenu-li">
                    <a routerLink="/tipo-vehiculos/agregar" class="sidebar__submenu-a">Nuevo Tipo</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/tipo-vehiculos/listado" class="sidebar__submenu-a">
                        Listado de Tipos
                    </a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/vehiculos/agregar" class="sidebar__submenu-a">Nuevo Vehiculo</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/vehiculos/listado" class="sidebar__submenu-a">
                        Listado de Vehiculos
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar__menu-li">
            <a class="sidebar__menu-a" id="drop-menu">
                Bocas de Agua
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="sidebar__submenu" id="drop-menu-content">
                <li class="sidebar__submenu-li">
                    <a routerLink="/bocas-de-agua/agregar" class="sidebar__submenu-a">Nueva boca de agua</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/bocas-de-agua/listado" class="sidebar__submenu-a">Listado de bocas de agua</a>
                </li>
            </ul>
        </li>
        <li class="sidebar__menu-li">
            <a class="sidebar__menu-a" id="drop-menu">
                Voluntarios
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="sidebar__submenu" id="drop-menu-content">
                <li class="sidebar__submenu-li">
                    <a routerLink="/voluntarios/listado"  class="sidebar__submenu-a">Listado de voluntarios</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/areas/listado" class="sidebar__submenu-a">Area</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/rangos/listado"  class="sidebar__submenu-a">Rango</a>
                </li>
            </ul>
        </li>
        <li class="sidebar__menu-li">
            <a class="sidebar__menu-a" id="drop-menu">
                Herramientas
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="sidebar__submenu" id="drop-menu-content">
                <li class="sidebar__submenu-li">
                    <a routerLink="/tipo-herramientas/agregar" class="sidebar__submenu-a">Nuevo Tipo</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/tipo-herramientas/listado" class="sidebar__submenu-a">Listado de Tipos</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/herramientas/agregar"  class="sidebar__submenu-a">Nueva Herramienta</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/herramientas/listado" class="sidebar__submenu-a">Listado de Herramientas</a>
                </li>
            </ul>
        </li>
        <li class="sidebar__menu-li">
            <a class="sidebar__menu-a" id="drop-menu">
                Acceso
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="sidebar__submenu" id="drop-menu-content">
                <li class="sidebar__submenu-li">
                    <a routerLink="/roles/listado" class="sidebar__submenu-a">Roles</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/usuarios/agregar"  class="sidebar__submenu-a">Nuevo Usuario</a>
                </li>
                <li class="sidebar__submenu-li">
                    <a routerLink="/usuarios/listado" class="sidebar__submenu-a">Listado de Usuarios</a>
                </li>
            </ul>
        </li>

    </ul>
</aside>
